*{
	margin: 0;
	padding: 0;
	font-family: 'Open-Sans','Sans-Serif';
}


.container{
	display: flex;
	flex-wrap: wrap;
}

section{
	display: flex;
	flex-wrap: wrap;
}

.tinyicon{
	height: 1vw;
	width: 1vw;
	z-index: 10;
	position: absolute;
}

.first{
	position: absolute;
	top: 1vw;
	right: 1vw;
}

.second{
	position: absolute;
	top: 1vw;
	right: 2.25vw;
}

.third{
	position: absolute;
	top: 1vw;
	right: 3.5vw;
	fill: grey;
}


.box{
	width: 20vw;
	height: 20vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

img{
	width: 10vw;
	height: 10vw;
	border-radius: 10%;
}

.img-format:hover{
	width:15vw;
	height:15vw;
}

.emptyfill{
	width: 20vw;
	height: 0.05px;
}

.header{
	width:40vw;
	height: 20vw;
	background: #084C61;
	display: flex;
	flex-wrap: wrap;
}

.icon-container{
	display:flex;
	align-items: center;
	align-content: center;

}

.name{
	color:white;
	font-size: 16px;
}

.icon{
	height: 20px;
	width: 20px;
	/*padding-top: 8px;*/
}

.arrow{
	height: 40px;
	width: 40px;
}

.leftside{
	position:absolute;
	right: 35vw;
	top:30vw;
}

.rightside{
	position: absolute;
	right: 5vw;
	top: 30vw;
}

p.icons{
	width: 120px;
	height: 45px;
	border: 2px solid white;
	margin-top: 10px;
	color: white;
	margin-left: 32px;
	font-family: sans-serif;
}

.box1{
	background: #333333;
}

.box2{
	background: #DB504A;

}

.box3{
	background: #456990;
}

.box4{
	background: #084C61;
}

.box5{
	background: #4E937A;
}

.box6{
	background: #DB504A;
}

.box7{
	background: #4E937A;
}


.left-container{
	width: 60%;
}

.right-container{
	display: flex;
	width: 40%;
	justify-content: flex-end;
}

.bigpic{
	border-radius: 0px;
	width:40vw;
	height: 60vw;
	overflow:hidden;
}

p.title{
	font-size: 30px;
	font-weight: 800;
	color: #FFFFFF;
	margin-left: 30px;
	margin-top: 50px;
	width: 30vw;
	font-family: sans-serif;
}

p.description{
	margin-left: 30px;
	font-family: sans-serif;
	font-size: 16px;
	width: 40vw;
	color: #FFFFFF;
}


@media screen and (max-width: 1400px){
	.left-container{
		width: 100vw;
	}

	.right-container{
		width: 100vw;
	}

	.header{
		width: 100vw;
		height: 50vw;
	}

	.bigpic{
		order: -1;
		width: 100vw;
		height: 150vw;
	}



	.box{
		width:50vw;
		height:50vw;
	}

	img{
		width:25vw;
		height:25vw;
	}

	.emptyfill{
	width: 50vw;
	height: 0.05px;
	}

	.box5{
		display: none;
	}

	p.title{
		font-size:50px;
		margin-top:40px;
	}

	p.description{
		font-size: 30px;
	}

	.firstline{
		margin-top: 25px;
	}

	.secondline{
		martin-top:7px;
	}
}

@media screen and (max-width: 700px){
	.left-container{
		width: 100vw;
	}

	.right-container{
		width:100vw;
	}

	.header{
		width:100vw;
		height: 50vw;
	}

	.box{
		width:100vw;
		height:100vw;
	}

	img{
		width: 50vw;
		height: 50vw;
	}

	.emptyfill{
	width: 100vw;
	height: 0.05px;
	}
}



