.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

*{
	margin: 0;
	padding: 0;
	font-family: 'Open-Sans','Sans-Serif';
}


.container{
	display: flex;
	flex-wrap: wrap;
}

section{
	display: flex;
	flex-wrap: wrap;
}


.box{
	width: 20vw;
	height: 20vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

img{
	width: 12vw;
	height: 12vw;
	border-radius: 10%;
}

.header{
	width:40vw;
	height: 20vw;
	background: #455A64;
}

.box1{
	background: orange;
}

.box2{
	background: aqua;

}

.box3{
	background: #FF5252;
}

.box4{
	background: gray;
}

.box5{
	background: pink;
}

.box6{
	background: aqua;
}

.box7{
	background: pink;
}


.left-container{
	width: 60%;
}

.right-container{
	display: flex;
	width: 40%;
	background-size: cover;
	background-position: top center;
	background-image: url(IMG_1134.jpg);
}

p.title{
	font-size: 80px;
	font-weight: 800;
	color: #FFFFFF;
	margin-left: 1.5vw;
	margin-top: 2vw;
	font-family: sans-serif;
}

p.description{
	margin-left: 25px;
	font-family: sans-serif;
	font-size: 20px;
	color: #FFFFFF;
}


